:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.link {
    text-decoration: none;
}

.logo-header-web,
.logo-footer-web {
    color:#2196F3;
}

.logo-header-studio {
    color: #000000;;
}

.site-nav, .header-contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.header-contacts .link:hover {
    color: #2196F3;
}

.site-nav .link:focus, 
.header-contacts .link:focus {
    color: #2196F3;
}

.site-nav .current {
    color: #2196F3;
}

.list {
    list-style: none;
}

.title {
    color: var(--title-text-color);
}

.header-contacts .link{
    color: var(--primary-text-color);
}

.hero {
    background-color: #2F303A;;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.btn {
    background-color: #2196F3;;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.features-title {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.features-list .title,
.we-doing .we-doing-title,
.our-team .our-team-title {
    font-weight: 700;
}

.features-list .text,
.footer-address {
    line-height: 1.71;
}

.our-team-list .team {
    font-size: 16px;
}

.our-team-list .font-weight {
    font-weight: 500;
}

.page-footer {
    background: #2F303A;
}

.logo-footer-studio,
.footer-address-maps {
    color: #FFFFFF;
}

.footer-address-contacts {
    color: rgba(255, 255, 255, 0.6);
}
.filter-list {
    background: #F5F4FA;
}
.filter-list .filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.filter-list .filter-btn:hover {
    background: #2196F3;
    color: #FFFFFF;
}

.filter-list .filter-btn:focus {
    background: #2196F3;
    color: #FFFFFF;
}

.filter-list .current {
    background: #2196F3;
    color: #FFFFFF;
}

.filter-btn {
    cursor: pointer;
}
.project-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list-text {
    font-size: 16px;
    line-height: 1.88;
}
